body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Cor de fundo do corpo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px; 
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center; 
}

.form-container {
    width: 250px;
    height: 300px; 
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.2);
    background-color: #fff;
    font-family: Arial, sans-serif;
}


span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    text-align: center;
    color: #858585;
    cursor: pointer;
    transition: font-weight 0.3s;
}

span:hover {
    color: #353535; 
    font-weight: bold;
    color: #353535;
}

form {
    max-width: 400px;
    margin: left;
}

.form-group {
    margin-bottom: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 95px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}

button:hover {
    background: #0054ad;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #f8f6f6;
    border-radius: 3px;
    background-color: #fdfdfd;
    transition: background-color 0.3s, border-color 0.3s; 
}

.input-box:focus {
    background-color: #f1f1f1; 
    border-color: #f1f1f1; 
}
