<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Salas</title>
</head>
<body>
    <h1>Lista de Salas</h1>
    <ul>
        <li>
            <h2 [routerLink]="['/rooms']">Sala 1</h2>
            <p>Capacidade: 20 pessoas</p>
        </li>
        <li>
            <h2>Sala 2</h2>
            <p>Capacidade: 15 pessoas</p>
        </li>
        <li>
            <h2>Sala 3</h2>
            <p>Capacidade: 25 pessoas</p>
        </li>
    </ul>
</body>
</html>
