body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background: #41556d; 
  }

  /* Add a container for the doors */
  .numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .portas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    position: relative; /* Make sure the parent has a relative position */
  }

  .portas {
    border-radius: 10px;
    background: #fcefc5;
    width: 250px;
    height: 420px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .janelas {
    width: 220px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ffc400;
    margin: 15px;
    position: relative;
  }

  .janelas::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Center align the text */
    color: black;
    font-size: 20px;
    width: 60%;
    line-height: 1.5;
  }

  /* Specific content for each door */
  .portas:nth-child(1) .janelas::after {
    content: 'A mesa redonda: LBTQIA+ na computação';
    top: 0;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  .portas:nth-child(2) .janelas::after {
    content: 'Oficina de fotografia com Carla Melo';
    top: 0;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  .portas:nth-child(3) .janelas::after {
    content: 'Em manutenção';
    top: 0;
    color: black;
    font-weight: bold;
    font-size: 16px;
    
  }

  .texto {
    position: absolute;
    top: -155px; /* Adjust as needed */
    left: 115px; /* Adjust to move it to the right */
    transform: translateX(-50%);
    z-index: 1; /* Make sure it's above the other elements */
    font-weight: bold;
    font-size: 16px;
    color: white; /* Change text color */
  }

  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .numeros {
      flex-direction: column;
      gap: 30px;
    }

    .portas-container {
      width: 80%;
      margin: 20px auto;
    }
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334456;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 15px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  label {
    top: 50px;
    color: #fefefe;
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }