# Arquivos gerados pelo Angular CLI
/dist/
/tmp/
/node_modules/

# Arquivos gerados pelo Firebase CLI
/.firebase/
/firestore.rules
/firebase.json
/storage.rules

# Logs e arquivos temporários
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências locais
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Arquivos de build do Angular
/angular.json
/tsconfig.json
/tsconfig.app.json
/tsconfig.spec.json
/tslint.json
/.browserslistrc
/karma.conf.js
/package.json
/package-lock.json

# Configuração local do Firebase
/.firebaserc

# Firebase SDK
/.firebase/
# Arquivos do LFS a serem ignorados
.angular/cache/16.2.1/angular-webpack/3225f990ce01e94f0cee6ea302bd7df7ba171122/0.pack
.angular/cache/16.2.1/angular-webpack/3225f990ce01e94f0cee6ea302bd7df7ba171122/index.pack
.angular/cache/16.2.1/angular-webpack/5c98e57c11fe1a31b3f0ddb1f4c86b1400accd0e/0.pack
# Adicione mais linhas para os outr

*.pak