/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu {
    background-color: #333;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .menu li:hover {
    background-color: #444;
  }
  
  .content {
    margin-left: 220px;
    padding: 20px;
  }
  
  .area {
    display: none;
  }
  
  /* Estilos do botão de retorno */
  #return-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .profile {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info img {
      border-radius: 50%;
      max-width: 150px;
      margin-bottom: 10px;
  }
  
  .profile-info h1 {
      font-size: 24px;
      margin: 10px 0;
  }
  
  .edit-profile form {
      text-align: left;
  }
  
  .edit-profile label,
  .edit-profile input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }
  
  .edit-profile input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .edit-profile input[type="submit"]:hover {
      background-color: #0056b3;
  }

  #perfil{
    position: relative;
    top: 50px;
    left: 200px;
  }