<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    
</head>
<body>
    <nav class="menu">
        <ul>
            <button type="button" (click)="profile()">Perfil</button>
            <button *ngIf="userType === 'Admin' || userType === 'Ministrante'"  type="button" [routerLink]="['/dashboard']">dashboard</button>
            <button type="button" (click)="listRooms()">Lista de Salas</button>

        </ul>
    </nav>
</body>
</html>