<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
</head>
<body>
   <div class="form-container-forgot">
    <form> 
        <h1 class="title">Recuperar senha</h1>
        <div class="form-group">
            <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Seu email" required>
        </div>
        <button type="submit" (click)="forgotpassword()">Receber link</button>
    </form>
    <span (click)="login()">Login</span>
  </div>
</body>
</html>
